################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter_04/.vs/Chapter_04/FileContentIndex/d8a36610-eebc-4a60-8b2f-915675fcefcb.vsidx
